<!DOCTYPE html>
<html lang="en">

<head>
    <title>What's in your mind</title>
    <% include partials/head.ejs %>
</head>

<body>

    <div id="wrapper">

        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                        What's in your mind !!!
                      </p>
                      <br/>

                   <blockquote class="mainLines">
                    Its always good to share knowledge and get something to learn in response of it.
                    That's why I created <code>What's in your mind</code> where people come together and discuss on different topics or experiences about anything they want to discuss.
                  </blockquote>

                  <blockquote class="mainLines">
                    When you see new technology trends which you are interested but dont know whom to discuss with.
                    Or you are looking for something interesting about the ongoing political policies of world.
                    <br/> Read thoughts of intelligent beings <a href="/stories">here</a> or <a href="/new-story">write your own thoughts.</a>
                  </blockquote>

                  </div>
           </div>
         </div>
      </div>


  </div>

  <% include partials/jsIncludes.ejs %>

</body>

</html>
